## Question 1. 
Import numpy as np and print the version number. (5 Points)

In [7]:
import numpy as np

numpy_version = np.__version__

numpy_version

'1.26.0'

## Question 2. 
Create a 1D array of numbers from 0 to 9 (10 Points). Desired output:
> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
array_tmp = np.arange(10)

array_tmp

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Question 3. 
Import a dataset with numbers and texts keeping the text intact in python numpy. Use the iris dataset available from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.dataLinks to an external site. (20 Points)

In [21]:
data = np.genfromtxt('C:\\Users\\USUARIO\\Desktop\\python_pr\\Module 8\\iris.data.txt', delimiter=',', dtype=None, encoding='utf-8')
data[:5]  # Displaying the first 5 rows of the dataset for verification

array([(5.1, 3.5, 1.4, 0.2, 'Iris-setosa'),
       (4.9, 3. , 1.4, 0.2, 'Iris-setosa'),
       (4.7, 3.2, 1.3, 0.2, 'Iris-setosa'),
       (4.6, 3.1, 1.5, 0.2, 'Iris-setosa'),
       (5. , 3.6, 1.4, 0.2, 'Iris-setosa')],
      dtype=[('f0', '<f8'), ('f1', '<f8'), ('f2', '<f8'), ('f3', '<f8'), ('f4', '<U15')])

## Question 4. 
Find the position of the first occurrence of a value greater than 1.0 in petalwidth 4th column of iris dataset. Use the iris dataset available from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.dataLinks to an external site. (20 Points)

In [22]:
petal_width = data['f3']
position = np.where(petal_width > 1.0)[0][0]
position

50

## Question 5. 
From the array a, replace all values greater than 30 to 30 and less than 10 to 10.

Input:
> np.random.seed(100)
a = np.random.uniform(1,50, 20)

In [23]:
# 5. Replacing values in the array a
np.random.seed(100)
a = np.random.uniform(1,50, 20)

# Replacing values
a[a > 30] = 30
a[a < 10] = 10
a

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361])