In [1]:
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

## Q1: How many flights were there from JFK to SLC?

In [3]:
q_1 = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')].shape[0]
print(q_1)

2113

## Q2: How many airlines fly to SLC?

In [4]:
q_2 = flights_data[flights_data['dest'] == 'SLC']['carrier'].nunique()
print(q_2)

2

## Q3: What is the average arrival delay for flights to RDU?

In [6]:
q_3 = flights_data[flights_data['dest'] == 'RDU']['arr_delay'].mean()
print(q_3)

10.052380952380952

## Q4: What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?

In [7]:
flights_to_SEA = flights_data[flights_data['dest'] == 'SEA']
proportion_from_NYC = flights_to_SEA[flights_to_SEA['origin'].isin(['LGA', 'JFK'])].shape[0] / flights_to_SEA.shape[0]
q_4 = proportion_from_NYC
print(q_4)

0.5332653581442773

## Q5: Which date has the largest average departure delay?

In [13]:
flights_data['date'] = flights_data['year'].astype(str) + '/' + flights_data['month'].astype(str) + '/' + flights_data['day'].astype(str)
avg_dep_delay_per_date = flights_data.groupby('date')['dep_delay'].mean()
q_5_date = avg_dep_delay_per_date.idxmax()
q_5= avg_dep_delay_per_date.max()
print(q_5)

83.5369211514393

In [ ]:
## Question 6: Which date has the largest average arrival delay?

In [15]:
avg_arr_delay_per_date = flights_data.groupby('date')['arr_delay'].mean()
q_6_date = avg_arr_delay_per_date.idxmax()
q_6 = avg_arr_delay_per_date.max()
print(q_6)

85.86215538847118

## Question 7: Which flight departing LGA or JFK in 2013 flew the fastest? 
Speed = distance / airtime

In [19]:
flights_data['speed'] = flights_data['distance'] / flights_data['air_time']
fastest_flight = flights_data[flights_data['origin'].isin(['LGA', 'JFK'])].nlargest(1, 'speed')
q_7 = fastest_flight[['tailnum', 'speed']]
print(q_7)

       tailnum      speed
216447  N666DN  11.723077

## Question 8: Replace all nans in the weather pd dataframe with 0s. Pd with no nans

In [22]:
q_8 = weather_data_pd.fillna(0)
q_8.head(3)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0

## Question 9: How many observations were made in February?

In [24]:
# Filtering data for February observations
february_data = weather_data_np[weather_data_np[:, 3] == 2]
# Question 9: Number of observations in February
q_9 = february_data.shape[0]
print(q_9)

671

## Question 10: Mean for humidity in February

In [25]:
q_10 = np.mean(february_data[:, 8])
print(q_10)

62.918152011922515

## Question 11: Standard deviation for humidity in February

In [26]:
q_11 = np.std(february_data[:, 8])
print(q_11)

20.33690087674334